<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Home</title>
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
  		<style>
  			.tarefa-concluida-texto {
    			text-decoration: line-through;
  			}
  			
  			.tarefa-concluida {
  				color: #c3c3c3;
  				font-style: italic;
  			}
  		</style>
  	</head>
  	<body>
  		<div class="container">
  			<div class="row">
  				<div class="col-sm-12">
  					<h1 id="titulo">Olá</h1>
  					<a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/tarefas/cadastro}">Nova Tarefa</a>
  				</div>
  			</div>
  			
  			<div class="row">
  				<div class="col-sm-12">
  					Logged user: <span sec:authentication="name"></span><br>
					Roles: <span>[[${#httpServletRequest.remoteUser}]]</span>
  					<form th:action="@{/logout}" method="post">
            			<input type="submit" value="Sign Out"/>
        			</form>
  				</div>
  			</div>
  			
  			<div class="row" style="margin-top: 15px">
  				<div class="col-sm-6">
  					<ul class="list-group">
		  				<li class="list-group-item" th:each="t : ${tarefas}">
		  					<span th:classappend="${t.concluida != null ? 'tarefa-concluida tarefa-concluida-texto' : ''}">[[${t.descricao}]]</span>
		  					<span th:if="${t.concluida != null}" class="tarefa-concluida">[[${#temporals.format(t.dataFinalizacao, 'dd/MM/yyyy')}]]</span>
		  					<span class="pull-right" sec:authorize="hasRole('ROLE_ADMIN')">
		  						<a class="btn btn-primary btn-xs" th:href="@{/tarefas/cadastro/__${t.id}__}"
		  						data-toggle="tooltip" title="Editar Tarefa">
		  							<span class="glyphicon glyphicon-pencil"></span>
		  						</a>
		  						
		  						<a class="btn btn-success btn-xs" th:href="@{/tarefas/concluir/__${t.id}__}"
		  						data-toggle="tooltip" title="Concluir Tarefa">
		  							<span class="glyphicon glyphicon-ok"></span>
		  						</a>
		  					</span>
		  				</li>
		  			</ul>
  				</div>
  			</div>
  			
  		</div>
  		
  		
	  	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
  		<script type="text/javascript">
  			$('[data-toggle="tooltip"]').tooltip();
  		</script>
  	</body>
</html>